torch==2.0.1
torchvision==0.15.2
tensorboard==2.14.0
torch-fidelity==0.3.0
torch-scatter==2.1.2
torchac==0.9.3
torchmetrics==1.5.2
torchsparse==2.1.0
compressai==1.2.6
torchac==0.9.3
open3d==0.18.0
trimesh==4.5.3
plyfile==1.0.3
numpy==1.24.4
scipy==1.10.0
opencv-python==4.8.0.76
Pillow==9.4.0
tqdm==4.67.1
PyYAML==6.0.2
ninja==1.11.1.3